BSMS/BSMSBranchAdmin/Service References/ServiceAdmin/BSMS.AdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.AdminService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.AdminService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdmindata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admindata" nillable="true" type="tns:Admindata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmindata" nillable="true" type="tns:ArrayOfAdmindata" />
  <xs:complexType name="Admindata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admindata" nillable="true" type="tns:Admindata" />
</xs:schema>