BSMS/BSMSBranchAdmin/Service References/ServiceAdmin/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS.AdminService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_selectAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:selectAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_selectAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:getSingle" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_addAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:addAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_addAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_updateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_updateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_deleteAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_deleteAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="selectAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/selectAdmin" message="tns:IAdminService_selectAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/selectAdminResponse" message="tns:IAdminService_selectAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/getSingle" message="tns:IAdminService_getSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/getSingleResponse" message="tns:IAdminService_getSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/addAdmin" message="tns:IAdminService_addAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/addAdminResponse" message="tns:IAdminService_addAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/updateAdmin" message="tns:IAdminService_updateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/updateAdminResponse" message="tns:IAdminService_updateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/deleteAdmin" message="tns:IAdminService_deleteAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/deleteAdminResponse" message="tns:IAdminService_deleteAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/selectAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <soap:operation soapAction="http://tempuri.org/IAdminService/getSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/addAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/updateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/deleteAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BSMS.AdminService/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>