BSMS/BSMSBiller/Service References/ServiceStock/BSMS.StockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.StockService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.StockService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockData" nillable="true" type="tns:StockData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockData" nillable="true" type="tns:ArrayOfStockData" />
  <xs:complexType name="StockData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOM" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockData" nillable="true" type="tns:StockData" />
</xs:schema>