BSMS/BSMSBiller/Service References/ServiceStock/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS.StockService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_selectStock_InputMessage">
    <wsdl:part name="parameters" element="tns:selectStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_selectStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_selectStockperBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:selectStockperBranch" />
  </wsdl:message>
  <wsdl:message name="IStockService_selectStockperBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectStockperBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_getSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:getSingle" />
  </wsdl:message>
  <wsdl:message name="IStockService_getSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_addStock_InputMessage">
    <wsdl:part name="parameters" element="tns:addStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_addStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_updateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_updateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_deleteStock_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_deleteStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="selectStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/selectStock" message="tns:IStockService_selectStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/selectStockResponse" message="tns:IStockService_selectStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectStockperBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/selectStockperBranch" message="tns:IStockService_selectStockperBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/selectStockperBranchResponse" message="tns:IStockService_selectStockperBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/getSingle" message="tns:IStockService_getSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/getSingleResponse" message="tns:IStockService_getSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/addStock" message="tns:IStockService_addStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/addStockResponse" message="tns:IStockService_addStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/updateStock" message="tns:IStockService_updateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/updateStockResponse" message="tns:IStockService_updateStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockService/deleteStock" message="tns:IStockService_deleteStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockService/deleteStockResponse" message="tns:IStockService_deleteStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockService" type="tns:IStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/selectStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectStockperBranch">
      <soap:operation soapAction="http://tempuri.org/IStockService/selectStockperBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <soap:operation soapAction="http://tempuri.org/IStockService/getSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/addStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/updateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStock">
      <soap:operation soapAction="http://tempuri.org/IStockService/deleteStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockService">
    <wsdl:port name="BasicHttpBinding_IStockService" binding="tns:BasicHttpBinding_IStockService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BSMS.StockService/StockService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>