BSMS/BSMSAdmin/Service References/ServiceBranch/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BranchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS.BranchService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBranchService_selectBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:selectBranch" />
  </wsdl:message>
  <wsdl:message name="IBranchService_selectBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchService_getSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:getSingle" />
  </wsdl:message>
  <wsdl:message name="IBranchService_getSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchService_addBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:addBranch" />
  </wsdl:message>
  <wsdl:message name="IBranchService_addBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchService_updateBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:updateBranch" />
  </wsdl:message>
  <wsdl:message name="IBranchService_updateBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IBranchService_deleteBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteBranch" />
  </wsdl:message>
  <wsdl:message name="IBranchService_deleteBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteBranchResponse" />
  </wsdl:message>
  <wsdl:portType name="IBranchService">
    <wsdl:operation name="selectBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchService/selectBranch" message="tns:IBranchService_selectBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchService/selectBranchResponse" message="tns:IBranchService_selectBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchService/getSingle" message="tns:IBranchService_getSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchService/getSingleResponse" message="tns:IBranchService_getSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchService/addBranch" message="tns:IBranchService_addBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchService/addBranchResponse" message="tns:IBranchService_addBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchService/updateBranch" message="tns:IBranchService_updateBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchService/updateBranchResponse" message="tns:IBranchService_updateBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IBranchService/deleteBranch" message="tns:IBranchService_deleteBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBranchService/deleteBranchResponse" message="tns:IBranchService_deleteBranch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBranchService" type="tns:IBranchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectBranch">
      <soap:operation soapAction="http://tempuri.org/IBranchService/selectBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <soap:operation soapAction="http://tempuri.org/IBranchService/getSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBranch">
      <soap:operation soapAction="http://tempuri.org/IBranchService/addBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBranch">
      <soap:operation soapAction="http://tempuri.org/IBranchService/updateBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBranch">
      <soap:operation soapAction="http://tempuri.org/IBranchService/deleteBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BranchService">
    <wsdl:port name="BasicHttpBinding_IBranchService" binding="tns:BasicHttpBinding_IBranchService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BSMS.BranchService/BranchService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>