BSMS/BSMSAdmin/Service References/ServiceBranch/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.BranchService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectBranch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.BranchService" minOccurs="0" name="selectBranchResult" nillable="true" type="q1:ArrayOfBranchdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.BranchService" minOccurs="0" name="getSingleResult" nillable="true" type="q2:Branchdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q3:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addBranchResult" nillable="true" type="q4:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q5:Branch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS.BranchService" minOccurs="0" name="updateBranchResult" nillable="true" type="q6:Branchdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS.BranchService" minOccurs="0" name="deleteBranchResult" nillable="true" type="q7:Branchdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>