BSMS/BSMSBranchAdmin/Service References/ServiceSale/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS.SalesService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesService_selectSale_InputMessage">
    <wsdl:part name="parameters" element="tns:selectSale" />
  </wsdl:message>
  <wsdl:message name="ISalesService_selectSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_selectSaleperBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:selectSaleperBranch" />
  </wsdl:message>
  <wsdl:message name="ISalesService_selectSaleperBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectSaleperBranchResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_getSale_InputMessage">
    <wsdl:part name="parameters" element="tns:getSale" />
  </wsdl:message>
  <wsdl:message name="ISalesService_getSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_addSale_InputMessage">
    <wsdl:part name="parameters" element="tns:addSale" />
  </wsdl:message>
  <wsdl:message name="ISalesService_addSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:addSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_updateSale_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSale" />
  </wsdl:message>
  <wsdl:message name="ISalesService_updateSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSaleResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_deleteSale_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteSale" />
  </wsdl:message>
  <wsdl:message name="ISalesService_deleteSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesService">
    <wsdl:operation name="selectSale">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/selectSale" message="tns:ISalesService_selectSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/selectSaleResponse" message="tns:ISalesService_selectSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="selectSaleperBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/selectSaleperBranch" message="tns:ISalesService_selectSaleperBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/selectSaleperBranchResponse" message="tns:ISalesService_selectSaleperBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSale">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/getSale" message="tns:ISalesService_getSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/getSaleResponse" message="tns:ISalesService_getSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addSale">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/addSale" message="tns:ISalesService_addSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/addSaleResponse" message="tns:ISalesService_addSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSale">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/updateSale" message="tns:ISalesService_updateSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/updateSaleResponse" message="tns:ISalesService_updateSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteSale">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/deleteSale" message="tns:ISalesService_deleteSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/deleteSaleResponse" message="tns:ISalesService_deleteSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesService" type="tns:ISalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectSale">
      <soap:operation soapAction="http://tempuri.org/ISalesService/selectSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSaleperBranch">
      <soap:operation soapAction="http://tempuri.org/ISalesService/selectSaleperBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSale">
      <soap:operation soapAction="http://tempuri.org/ISalesService/getSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSale">
      <soap:operation soapAction="http://tempuri.org/ISalesService/addSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSale">
      <soap:operation soapAction="http://tempuri.org/ISalesService/updateSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSale">
      <soap:operation soapAction="http://tempuri.org/ISalesService/deleteSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesService">
    <wsdl:port name="BasicHttpBinding_ISalesService" binding="tns:BasicHttpBinding_ISalesService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BSMS.SalesService/SalesService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>