BSMS/BSMSBranchAdmin/Service References/ServiceBranchAdmin/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectBranchAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBranchAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="selectBranchAdminResult" nillable="true" type="q1:ArrayOfBranch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="getSingleResult" nillable="true" type="q2:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBranchAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q3:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBranchAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addBranchAdminResult" nillable="true" type="q4:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranchAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q5:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBranchAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="updateBranchAdminResult" nillable="true" type="q6:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBranchAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBranchAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="deleteBranchAdminResult" nillable="true" type="q7:Branch_Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>