BSMS/BSMSBiller/Service References/ServiceLogin/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_Admin_login_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Admin_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_loginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Biller_login_InputMessage">
    <wsdl:part name="parameters" element="tns:Biller_login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Biller_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:Biller_loginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Branch_Admin_login_InputMessage">
    <wsdl:part name="parameters" element="tns:Branch_Admin_login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Branch_Admin_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:Branch_Admin_loginResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="Admin_login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Admin_login" message="tns:ILoginService_Admin_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/Admin_loginResponse" message="tns:ILoginService_Admin_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Biller_login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Biller_login" message="tns:ILoginService_Biller_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/Biller_loginResponse" message="tns:ILoginService_Biller_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Branch_Admin_login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Branch_Admin_login" message="tns:ILoginService_Branch_Admin_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/Branch_Admin_loginResponse" message="tns:ILoginService_Branch_Admin_login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Admin_login">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Admin_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Biller_login">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Biller_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Branch_Admin_login">
      <soap:operation soapAction="http://tempuri.org/ILoginService/Branch_Admin_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BSMS/LoginService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>