BSMS/BSMSBranchAdmin/Service References/ServiceBranch/BSMS.BranchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.BranchService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.BranchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBranchdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Branchdata" nillable="true" type="tns:Branchdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchdata" nillable="true" type="tns:ArrayOfBranchdata" />
  <xs:complexType name="Branchdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Br_Admin_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Br_Admin_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branchdata" nillable="true" type="tns:Branchdata" />
</xs:schema>