BSMS/BSMSBranchAdmin/Service References/ServiceBill/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.BillService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectBill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.BillService" minOccurs="0" name="selectBillResult" nillable="true" type="q1:ArrayOfBilldata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillperBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillperBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.BillService" minOccurs="0" name="selectBillperBranchResult" nillable="true" type="q2:ArrayOfBilldata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS.BillService" minOccurs="0" name="getSingleResult" nillable="true" type="q3:Billdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q4:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addBillResult" nillable="true" type="q5:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q6:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS.BillService" minOccurs="0" name="updateBillResult" nillable="true" type="q7:Billdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="deleteBillResult" nillable="true" type="q8:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>