BSMS/BSMSBiller/Service References/ServiceBiller/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.BillerService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectBiller">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.BillerService" minOccurs="0" name="selectBillerResult" nillable="true" type="q1:ArrayOfBillerdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillerperBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectBillerperBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.BillerService" minOccurs="0" name="selectBillerperBranchResult" nillable="true" type="q2:ArrayOfBillerdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS.BillerService" minOccurs="0" name="getSingleResult" nillable="true" type="q3:Billerdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBiller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q4:Biller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addBillerResult" nillable="true" type="q5:Biller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBiller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q6:Biller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS.BillerService" minOccurs="0" name="updateBillerResult" nillable="true" type="q7:Billerdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBiller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSMS.BillerService" minOccurs="0" name="deleteBillerResult" nillable="true" type="q8:Billerdata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>