BSMS/BSMSAdmin/Service References/ServiceStock/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.StockService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.StockService" minOccurs="0" name="selectStockResult" nillable="true" type="q1:ArrayOfStockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectStockperBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectStockperBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.StockService" minOccurs="0" name="selectStockperBranchResult" nillable="true" type="q2:ArrayOfStockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS.StockService" minOccurs="0" name="getSingleResult" nillable="true" type="q3:StockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q4:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addStockResult" nillable="true" type="q5:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q6:Stock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS.StockService" minOccurs="0" name="updateStockResult" nillable="true" type="q7:StockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSMS.StockService" minOccurs="0" name="deleteStockResult" nillable="true" type="q8:StockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>