BSMS/BSMSBranchAdmin/Service References/ServiceBiller/BSMS.BillerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.BillerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.BillerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBillerdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Billerdata" nillable="true" type="tns:Billerdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillerdata" nillable="true" type="tns:ArrayOfBillerdata" />
  <xs:complexType name="Billerdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Branch_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billerdata" nillable="true" type="tns:Billerdata" />
</xs:schema>