BSMS/BSMSAdmin/Service References/ServiceBill/BSMS.BillService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.BillService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.BillService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBilldata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Billdata" nillable="true" type="tns:Billdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBilldata" nillable="true" type="tns:ArrayOfBilldata" />
  <xs:complexType name="Billdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Biller_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Branch_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment_Mode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Billdata" nillable="true" type="tns:Billdata" />
</xs:schema>