BSMS/BSMSAdmin/Service References/ServiceSale/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.SalesService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.SalesService" minOccurs="0" name="selectSaleResult" nillable="true" type="q1:ArrayOfSalesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSaleperBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectSaleperBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.SalesService" minOccurs="0" name="selectSaleperBranchResult" nillable="true" type="q2:ArrayOfSalesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS.SalesService" minOccurs="0" name="getSaleResult" nillable="true" type="q3:ArrayOfSalesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q4:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addSaleResult" nillable="true" type="q5:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q6:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS.SalesService" minOccurs="0" name="updateSaleResult" nillable="true" type="q7:SalesData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="deleteSaleResult" nillable="true" type="q8:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>