BSMS/BSMSAdmin/Service References/ServiceAdmin/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS.AdminService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BSMS" />
  <xs:element name="selectAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BSMS.AdminService" minOccurs="0" name="selectAdminResult" nillable="true" type="q1:ArrayOfAdmindata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BSMS.AdminService" minOccurs="0" name="getSingleResult" nillable="true" type="q2:Admindata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q3:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="addAdminResult" nillable="true" type="q4:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="a" nillable="true" type="q5:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BSMS.AdminService" minOccurs="0" name="updateAdminResult" nillable="true" type="q6:Admindata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BSMS" minOccurs="0" name="deleteAdminResult" nillable="true" type="q7:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>