BSMS/BSMSBiller/Service References/ServiceSale/BSMS.SalesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BSMS.SalesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BSMS.SalesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSalesData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesData" nillable="true" type="tns:SalesData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesData" nillable="true" type="tns:ArrayOfSalesData" />
  <xs:complexType name="SalesData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bill_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Stock_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesData" nillable="true" type="tns:SalesData" />
</xs:schema>